<hr>
<hr>

# Introdução à manipulação de dados com o Pandas (Parte II)

In [1]:
import pandas as pd
import numpy as np

In [2]:
#medições pluviométricas (em milímetros).
df = pd.read_csv('../bases/pune_1965_to_2002.csv')
df

,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
0,1965,0.029,0.069,0.000,21.667,17.859,102.111,606.071,402.521,69.511,5.249,16.232,22.075
1,1966,0.905,0.000,0.000,2.981,63.008,94.088,481.942,59.386,150.624,1.308,41.214,4.132
2,1967,0.248,3.390,1.320,13.482,11.116,251.314,780.006,181.069,183.757,50.404,8.393,37.685
3,1968,0.318,3.035,1.704,23.307,7.441,179.872,379.354,171.979,219.884,73.997,23.326,2.020
4,1969,0.248,2.524,0.334,4.569,6.213,393.682,678.354,397.335,205.413,24.014,24.385,1.951
5,1970,0.070,0.000,0.001,16.218,68.036,300.546,330.502,283.476,158.640,115.758,0.260,0.000
6,1971,0.000,0.000,0.000,0.812,57.691,297.187,122.195,372.693,286.056,39.424,0.554,0.000
7,1972,0.000,0.029,0.000,5.982,19.101,132.413,338.484,68.741,120.415,1.078,24.089,0.143
8,1973,0.000,2.969,0.234,3.925,14.978,304.484,696.024,256.932,183.206,101.805,5.516,0.000
9,1974,0.000,0.000,6.427,16.864,51.209,148.697,405.359,319.651,288.533,188.876,0.260,0.000
10,1975,0.333,0.585,0.000,0.061,30.651,359.369,474.143,404.372,400.001,105.560,2.763,0.000
11,1976,0.000,0.000,5.993,4.454,3.577,773.737,545.379,436.912,108.459,13.611,44.887,4.158
12,1977,0.000,2.981,3.289,4.432,32.130,319.716,407.246,129.678,89.150,83.193,122.809,7.530
13,1978,0.061,4.197,4.004,44.623,52.950,403.860,192.399,239.066,139.119,26.711,60.996,0.597
14,1979,0.000,0.386,3.343,0.126,6.860,342.324,403.925,451.153,440.381,19.084,101.597,0.008
15,1980,0.008,0.000,8.329,28.764,4.816,349.975,344.268,404.191,94.127,10.826,15.533,7.348
16,1981,2.257,2.121,0.445,10.817,17.193,360.788,507.155,217.037,361.165,80.018,3.715,0.050
17,1982,0.000,0.560,0.000,14.585,50.468,145.343,186.691,194.307,239.402,49.257,62.474,0.000
18,1983,0.395,0.000,0.000,0.061,1.056,225.847,390.041,537.764,428.050,30.771,1.008,1.955
19,1984,0.000,0.391,5.772,4.997,0.508,367.058,621.607,138.006,229.276,167.164,3.786,0.396
20,1985,0.025,0.000,0.922,11.512,6.458,234.930,325.191,297.802,88.877,139.919,108.561,0.655
21,1986,0.000,1.229,0.000,4.567,22.547,635.977,202.570,247.395,105.095,3.746,7.457,37.386
22,1987,3.013,8.410,1.367,3.864,80.539,200.950,172.864,477.113,44.574,150.179,18.281,36.845
23,1988,0.000,0.000,0.000,43.570,12.862,186.431,740.613,211.781,613.522,12.375,0.458,1.037
24,1989,0.008,0.000,9.619,20.774,20.176,425.984,484.451,177.257,236.803,23.424,0.585,0.943
25,1990,0.004,0.531,0.789,0.274,78.384,423.314,583.557,451.707,69.182,115.349,41.888,1.315
26,1991,0.004,0.071,0.972,27.964,30.405,565.900,479.719,193.423,178.727,4.135,15.936,0.000
27,1992,0.000,0.000,0.000,3.165,9.580,227.180,321.551,428.764,287.582,40.079,5.982,0.000
28,1993,0.000,0.078,1.211,2.062,3.248,234.068,450.088,150.278,101.928,225.904,6.240,35.147
29,1994,0.879,0.325,2.415,16.823,33.378,749.030,707.986,230.898,115.509,116.348,14.098,0.000
30,1995,0.695,0.000,1.770,25.949,23.964,163.515,501.461,114.206,288.262,84.359,4.866,0.021
31,1996,0.016,2.779,0.087,6.318,5.134,453.607,558.586,212.489,203.642,176.471,12.202,0.000
32,1997,1.284,0.000,0.747,23.912,4.664,673.831,422.913,541.579,60.477,31.050,65.392,18.991
33,1998,0.008,2.671,0.073,0.377,15.717,238.609,590.663,362.357,243.444,96.324,52.965,0.035
34,1999,0.000,1.431,0.000,0.642,35.828,415.471,277.137,98.616,225.962,180.300,0.263,0.033
35,2000,0.000,0.170,0.000,1.193,26.237,371.328,265.417,220.814,147.196,38.246,15.274,8.187
36,2001,0.147,0.000,2.178,1.528,7.860,247.982,279.547,189.404,158.025,135.518,23.633,0.003
37,2002,0.231,0.911,0.388,53.266,18.430,509.145,84.936,257.205,78.269,21.486,0.614,0.000

In [3]:
df.index

RangeIndex(start=0, stop=38, step=1)

In [5]:
df.values[:,1:]

Index(['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct',
       'Nov', 'Dec'],
      dtype='object')

In [7]:
indice  = df['Year']
colunas = df.columns[1:]
dados   = df.values[:,1:]

In [8]:
df2 = pd.DataFrame(dados,
                   index = indice, 
                   columns = colunas)
df2

,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
Year,,,,,,,,,,,,
1965,0.029,0.069,0.000,21.667,17.859,102.111,606.071,402.521,69.511,5.249,16.232,22.075
1966,0.905,0.000,0.000,2.981,63.008,94.088,481.942,59.386,150.624,1.308,41.214,4.132
1967,0.248,3.390,1.320,13.482,11.116,251.314,780.006,181.069,183.757,50.404,8.393,37.685
1968,0.318,3.035,1.704,23.307,7.441,179.872,379.354,171.979,219.884,73.997,23.326,2.020
1969,0.248,2.524,0.334,4.569,6.213,393.682,678.354,397.335,205.413,24.014,24.385,1.951
1970,0.070,0.000,0.001,16.218,68.036,300.546,330.502,283.476,158.640,115.758,0.260,0.000
1971,0.000,0.000,0.000,0.812,57.691,297.187,122.195,372.693,286.056,39.424,0.554,0.000
1972,0.000,0.029,0.000,5.982,19.101,132.413,338.484,68.741,120.415,1.078,24.089,0.143
1973,0.000,2.969,0.234,3.925,14.978,304.484,696.024,256.932,183.206,101.805,5.516,0.000
1974,0.000,0.000,6.427,16.864,51.209,148.697,405.359,319.651,288.533,188.876,0.260,0.000
1975,0.333,0.585,0.000,0.061,30.651,359.369,474.143,404.372,400.001,105.560,2.763,0.000
1976,0.000,0.000,5.993,4.454,3.577,773.737,545.379,436.912,108.459,13.611,44.887,4.158
1977,0.000,2.981,3.289,4.432,32.130,319.716,407.246,129.678,89.150,83.193,122.809,7.530
1978,0.061,4.197,4.004,44.623,52.950,403.860,192.399,239.066,139.119,26.711,60.996,0.597
1979,0.000,0.386,3.343,0.126,6.860,342.324,403.925,451.153,440.381,19.084,101.597,0.008
1980,0.008,0.000,8.329,28.764,4.816,349.975,344.268,404.191,94.127,10.826,15.533,7.348
1981,2.257,2.121,0.445,10.817,17.193,360.788,507.155,217.037,361.165,80.018,3.715,0.050
1982,0.000,0.560,0.000,14.585,50.468,145.343,186.691,194.307,239.402,49.257,62.474,0.000
1983,0.395,0.000,0.000,0.061,1.056,225.847,390.041,537.764,428.050,30.771,1.008,1.955
1984,0.000,0.391,5.772,4.997,0.508,367.058,621.607,138.006,229.276,167.164,3.786,0.396
1985,0.025,0.000,0.922,11.512,6.458,234.930,325.191,297.802,88.877,139.919,108.561,0.655
1986,0.000,1.229,0.000,4.567,22.547,635.977,202.570,247.395,105.095,3.746,7.457,37.386
1987,3.013,8.410,1.367,3.864,80.539,200.950,172.864,477.113,44.574,150.179,18.281,36.845
1988,0.000,0.000,0.000,43.570,12.862,186.431,740.613,211.781,613.522,12.375,0.458,1.037
1989,0.008,0.000,9.619,20.774,20.176,425.984,484.451,177.257,236.803,23.424,0.585,0.943
1990,0.004,0.531,0.789,0.274,78.384,423.314,583.557,451.707,69.182,115.349,41.888,1.315
1991,0.004,0.071,0.972,27.964,30.405,565.900,479.719,193.423,178.727,4.135,15.936,0.000
1992,0.000,0.000,0.000,3.165,9.580,227.180,321.551,428.764,287.582,40.079,5.982,0.000
1993,0.000,0.078,1.211,2.062,3.248,234.068,450.088,150.278,101.928,225.904,6.240,35.147
1994,0.879,0.325,2.415,16.823,33.378,749.030,707.986,230.898,115.509,116.348,14.098,0.000
1995,0.695,0.000,1.770,25.949,23.964,163.515,501.461,114.206,288.262,84.359,4.866,0.021
1996,0.016,2.779,0.087,6.318,5.134,453.607,558.586,212.489,203.642,176.471,12.202,0.000
1997,1.284,0.000,0.747,23.912,4.664,673.831,422.913,541.579,60.477,31.050,65.392,18.991
1998,0.008,2.671,0.073,0.377,15.717,238.609,590.663,362.357,243.444,96.324,52.965,0.035
1999,0.000,1.431,0.000,0.642,35.828,415.471,277.137,98.616,225.962,180.300,0.263,0.033
2000,0.000,0.170,0.000,1.193,26.237,371.328,265.417,220.814,147.196,38.246,15.274,8.187
2001,0.147,0.000,2.178,1.528,7.860,247.982,279.547,189.404,158.025,135.518,23.633,0.003
2002,0.231,0.911,0.388,53.266,18.430,509.145,84.936,257.205,78.269,21.486,0.614,0.000

In [11]:
df.set_index('Year')

,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
Year,,,,,,,,,,,,
1965,0.029,0.069,0.000,21.667,17.859,102.111,606.071,402.521,69.511,5.249,16.232,22.075
1966,0.905,0.000,0.000,2.981,63.008,94.088,481.942,59.386,150.624,1.308,41.214,4.132
1967,0.248,3.390,1.320,13.482,11.116,251.314,780.006,181.069,183.757,50.404,8.393,37.685
1968,0.318,3.035,1.704,23.307,7.441,179.872,379.354,171.979,219.884,73.997,23.326,2.020
1969,0.248,2.524,0.334,4.569,6.213,393.682,678.354,397.335,205.413,24.014,24.385,1.951
1970,0.070,0.000,0.001,16.218,68.036,300.546,330.502,283.476,158.640,115.758,0.260,0.000
1971,0.000,0.000,0.000,0.812,57.691,297.187,122.195,372.693,286.056,39.424,0.554,0.000
1972,0.000,0.029,0.000,5.982,19.101,132.413,338.484,68.741,120.415,1.078,24.089,0.143
1973,0.000,2.969,0.234,3.925,14.978,304.484,696.024,256.932,183.206,101.805,5.516,0.000
1974,0.000,0.000,6.427,16.864,51.209,148.697,405.359,319.651,288.533,188.876,0.260,0.000
1975,0.333,0.585,0.000,0.061,30.651,359.369,474.143,404.372,400.001,105.560,2.763,0.000
1976,0.000,0.000,5.993,4.454,3.577,773.737,545.379,436.912,108.459,13.611,44.887,4.158
1977,0.000,2.981,3.289,4.432,32.130,319.716,407.246,129.678,89.150,83.193,122.809,7.530
1978,0.061,4.197,4.004,44.623,52.950,403.860,192.399,239.066,139.119,26.711,60.996,0.597
1979,0.000,0.386,3.343,0.126,6.860,342.324,403.925,451.153,440.381,19.084,101.597,0.008
1980,0.008,0.000,8.329,28.764,4.816,349.975,344.268,404.191,94.127,10.826,15.533,7.348
1981,2.257,2.121,0.445,10.817,17.193,360.788,507.155,217.037,361.165,80.018,3.715,0.050
1982,0.000,0.560,0.000,14.585,50.468,145.343,186.691,194.307,239.402,49.257,62.474,0.000
1983,0.395,0.000,0.000,0.061,1.056,225.847,390.041,537.764,428.050,30.771,1.008,1.955
1984,0.000,0.391,5.772,4.997,0.508,367.058,621.607,138.006,229.276,167.164,3.786,0.396
1985,0.025,0.000,0.922,11.512,6.458,234.930,325.191,297.802,88.877,139.919,108.561,0.655
1986,0.000,1.229,0.000,4.567,22.547,635.977,202.570,247.395,105.095,3.746,7.457,37.386
1987,3.013,8.410,1.367,3.864,80.539,200.950,172.864,477.113,44.574,150.179,18.281,36.845
1988,0.000,0.000,0.000,43.570,12.862,186.431,740.613,211.781,613.522,12.375,0.458,1.037
1989,0.008,0.000,9.619,20.774,20.176,425.984,484.451,177.257,236.803,23.424,0.585,0.943
1990,0.004,0.531,0.789,0.274,78.384,423.314,583.557,451.707,69.182,115.349,41.888,1.315
1991,0.004,0.071,0.972,27.964,30.405,565.900,479.719,193.423,178.727,4.135,15.936,0.000
1992,0.000,0.000,0.000,3.165,9.580,227.180,321.551,428.764,287.582,40.079,5.982,0.000
1993,0.000,0.078,1.211,2.062,3.248,234.068,450.088,150.278,101.928,225.904,6.240,35.147
1994,0.879,0.325,2.415,16.823,33.378,749.030,707.986,230.898,115.509,116.348,14.098,0.000
1995,0.695,0.000,1.770,25.949,23.964,163.515,501.461,114.206,288.262,84.359,4.866,0.021
1996,0.016,2.779,0.087,6.318,5.134,453.607,558.586,212.489,203.642,176.471,12.202,0.000
1997,1.284,0.000,0.747,23.912,4.664,673.831,422.913,541.579,60.477,31.050,65.392,18.991
1998,0.008,2.671,0.073,0.377,15.717,238.609,590.663,362.357,243.444,96.324,52.965,0.035
1999,0.000,1.431,0.000,0.642,35.828,415.471,277.137,98.616,225.962,180.300,0.263,0.033
2000,0.000,0.170,0.000,1.193,26.237,371.328,265.417,220.814,147.196,38.246,15.274,8.187
2001,0.147,0.000,2.178,1.528,7.860,247.982,279.547,189.404,158.025,135.518,23.633,0.003
2002,0.231,0.911,0.388,53.266,18.430,509.145,84.936,257.205,78.269,21.486,0.614,0.000

In [12]:
df2.sum()

Jan       11.186
Feb       41.843
Mar       63.733
Apr      470.487
May      952.272
Jun    12809.663
Jul    16340.395
Aug    10529.357
Sep     7642.245
Oct     2783.320
Nov      958.492
Dec      230.646
dtype: float64

In [13]:
df2.mean()

Jan      0.294368
Feb      1.101132
Mar      1.677184
Apr     12.381237
May     25.059789
Jun    337.096395
Jul    430.010395
Aug    277.088342
Sep    201.111711
Oct     73.245263
Nov     25.223474
Dec      6.069632
dtype: float64

In [14]:
df2.mean(axis='columns')

Year
1965    105.282833
1966     74.965667
1967    126.848667
1968     90.519750
1969    144.918500
1970    106.125583
1971     98.051000
1972     59.206250
1973    130.839417
1974    118.823000
1975    148.153167
1976    161.763917
1977    100.179500
1978     97.381917
1979    147.432250
1980    105.682083
1981    130.230083
1982     78.590583
1983    134.745667
1984    128.246750
1985    101.237667
1986    105.664083
1987     99.833250
1988    151.887417
1989    116.668667
1990    147.191167
1991    124.771333
1992    110.323583
1993    100.854333
1994    165.640750
1995    100.755667
1996    135.944250
1997    153.736667
1998    133.603583
1999    102.973583
2000     91.171833
2001     87.152083
2002     85.406750
dtype: float64

In [16]:
df2.describe().round(1)

,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
count,38.0,38.0,38.0,38.0,38.0,38.0,38.0,38.0,38.0,38.0,38.0,38.0
mean,0.3,1.1,1.7,12.4,25.1,337.1,430.0,277.1,201.1,73.2,25.2,6.1
std,0.6,1.7,2.5,13.7,22.5,171.7,178.0,132.2,123.7,62.9,31.8,11.7
min,0.0,0.0,0.0,0.1,0.5,94.1,84.9,59.4,44.6,1.1,0.3,0.0
25%,0.0,0.0,0.0,2.3,7.0,226.2,322.5,183.2,105.9,22.0,3.7,0.0
50%,0.0,0.2,0.6,5.5,18.1,312.1,415.1,243.2,181.0,49.8,14.7,0.5
75%,0.2,1.9,2.1,19.8,33.1,412.6,555.3,401.2,242.4,115.7,37.0,4.2
max,3.0,8.4,9.6,53.3,80.5,773.7,780.0,541.6,613.5,225.9,122.8,37.7

In [17]:
df2.T.describe().round(1)

Year,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,...,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002
count,12.0,12.0,12.0,12.0,12.0,12.0,12.0,12.0,12.0,12.0,...,12.0,12.0,12.0,12.0,12.0,12.0,12.0,12.0,12.0,12.0
mean,105.3,75.0,126.8,90.5,144.9,106.1,98.1,59.2,130.8,118.8,...,100.9,165.6,100.8,135.9,153.7,133.6,103.0,91.2,87.2,85.4
std,193.8,136.7,223.5,121.5,226.5,130.8,139.3,100.1,209.3,148.0,...,141.6,272.2,154.0,194.0,243.5,189.4,140.4,128.4,108.0,152.2
min,0.0,0.0,0.2,0.3,0.2,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25%,4.0,1.2,7.1,2.8,2.4,0.1,0.0,0.1,2.3,0.2,...,1.8,2.0,1.5,2.1,3.8,0.3,0.2,0.9,1.2,0.6
50%,19.8,22.7,25.6,23.3,15.1,42.1,20.1,12.5,10.2,34.0,...,20.7,25.1,25.0,9.3,27.5,34.3,18.6,20.8,15.7,20.0
75%,77.7,70.8,181.7,174.0,252.5,189.8,163.2,81.7,201.6,213.8,...,169.2,145.0,126.5,205.9,154.8,239.8,191.7,165.6,165.9,79.9
max,606.1,481.9,780.0,379.4,678.4,330.5,372.7,338.5,696.0,405.4,...,450.1,749.0,501.5,558.6,673.8,590.7,415.5,371.3,279.5,509.1

# String

In [20]:
presidents = pd.read_csv('../bases/us_presidents.csv')
presidents.head(3)

,Unnamed: 0,S.No.,start,end,president,prior,party,vice
0,0,1,"April 30, 1789","March 4, 1797",George Washington,Commander-in-Chief of the Continental Army ...,Nonpartisan [13],John Adams
1,1,2,"March 4, 1797","March 4, 1801",John Adams,1st Vice President of the United States,Federalist,Thomas Jefferson
2,2,3,"March 4, 1801","March 4, 1809",Thomas Jefferson,2nd Vice President of the United States,Democratic- Republican,Aaron Burr

In [21]:
presidents.shape

(45, 8)

In [22]:
president_names = presidents['president']
president_names

0          George Washington
1                 John Adams
2           Thomas Jefferson
3              James Madison
4               James Monroe
5          John Quincy Adams
6             Andrew Jackson
7           Martin Van Buren
8     William Henry Harrison
9                 John Tyler
10             James K. Polk
11            Zachary Taylor
12          Millard Fillmore
13           Franklin Pierce
14            James Buchanan
15           Abraham Lincoln
16            Andrew Johnson
17          Ulysses S. Grant
18       Rutherford B. Hayes
19         James A. Garfield
20         Chester A. Arthur
21          Grover Cleveland
22         Benjamin Harrison
23          Grover Cleveland
24          William McKinley
25        Theodore Roosevelt
26       William Howard Taft
27            Woodrow Wilson
28         Warren G. Harding
29           Calvin Coolidge
30            Herbert Hoover
31     Franklin D. Roosevelt
32           Harry S. Truman
33      Dwight D. Eisenhower
34           John F. Kennedy
35         Lyndon B. Johnson
36             Richard Nixon
37               Gerald Ford
38              Jimmy Carter
39             Ronald Reagan
40         George H. W. Bush
41              Bill Clinton
42            George W. Bush
43              Barack Obama
44              Donald Trump
Name: president, dtype: object

In [26]:
president_names.str.upper()

0          GEORGE WASHINGTON
1                 JOHN ADAMS
2           THOMAS JEFFERSON
3              JAMES MADISON
4               JAMES MONROE
5          JOHN QUINCY ADAMS
6             ANDREW JACKSON
7           MARTIN VAN BUREN
8     WILLIAM HENRY HARRISON
9                 JOHN TYLER
10             JAMES K. POLK
11            ZACHARY TAYLOR
12          MILLARD FILLMORE
13           FRANKLIN PIERCE
14            JAMES BUCHANAN
15           ABRAHAM LINCOLN
16            ANDREW JOHNSON
17          ULYSSES S. GRANT
18       RUTHERFORD B. HAYES
19         JAMES A. GARFIELD
20         CHESTER A. ARTHUR
21          GROVER CLEVELAND
22         BENJAMIN HARRISON
23          GROVER CLEVELAND
24          WILLIAM MCKINLEY
25        THEODORE ROOSEVELT
26       WILLIAM HOWARD TAFT
27            WOODROW WILSON
28         WARREN G. HARDING
29           CALVIN COOLIDGE
30            HERBERT HOOVER
31     FRANKLIN D. ROOSEVELT
32           HARRY S. TRUMAN
33      DWIGHT D. EISENHOWER
34           JOHN F. KENNEDY
35         LYNDON B. JOHNSON
36             RICHARD NIXON
37               GERALD FORD
38              JIMMY CARTER
39             RONALD REAGAN
40         GEORGE H. W. BUSH
41              BILL CLINTON
42            GEORGE W. BUSH
43              BARACK OBAMA
44              DONALD TRUMP
Name: president, dtype: object

In [27]:
president_names.str.len()

0     17
1     10
2     16
3     13
4     12
5     17
6     14
7     16
8     22
9     10
10    13
11    14
12    16
13    15
14    14
15    15
16    14
17    16
18    19
19    17
20    17
21    16
22    17
23    16
24    16
25    18
26    19
27    14
28    17
29    15
30    14
31    21
32    15
33    20
34    15
35    17
36    13
37    11
38    12
39    13
40    17
41    12
42    14
43    12
44    12
Name: president, dtype: int64

In [30]:
president_names[president_names.str.startswith('J')]

1            John Adams
3         James Madison
4          James Monroe
5     John Quincy Adams
9            John Tyler
10        James K. Polk
14       James Buchanan
19    James A. Garfield
34      John F. Kennedy
38         Jimmy Carter
Name: president, dtype: object

In [35]:
president_names.str.split(" ")

0           [George, Washington]
1                  [John, Adams]
2            [Thomas, Jefferson]
3               [James, Madison]
4                [James, Monroe]
5          [John, Quincy, Adams]
6              [Andrew, Jackson]
7           [Martin, Van, Buren]
8     [William, Henry, Harrison]
9                  [John, Tyler]
10             [James, K., Polk]
11             [Zachary, Taylor]
12           [Millard, Fillmore]
13            [Franklin, Pierce]
14             [James, Buchanan]
15            [Abraham, Lincoln]
16             [Andrew, Johnson]
17          [Ulysses, S., Grant]
18       [Rutherford, B., Hayes]
19         [James, A., Garfield]
20         [Chester, A., Arthur]
21           [Grover, Cleveland]
22          [Benjamin, Harrison]
23           [Grover, Cleveland]
24           [William, McKinley]
25         [Theodore, Roosevelt]
26       [William, Howard, Taft]
27             [Woodrow, Wilson]
28         [Warren, G., Harding]
29            [Calvin, Coolidge]
30             [Herbert, Hoover]
31     [Franklin, D., Roosevelt]
32           [Harry, S., Truman]
33      [Dwight, D., Eisenhower]
34           [John, F., Kennedy]
35         [Lyndon, B., Johnson]
36              [Richard, Nixon]
37                [Gerald, Ford]
38               [Jimmy, Carter]
39              [Ronald, Reagan]
40        [George, H., W., Bush]
41               [Bill, Clinton]
42            [George, W., Bush]
43               [Barack, Obama]
44               [Donald, Trump]
Name: president, dtype: object

# Data

In [36]:
data = pd.to_datetime('03/01/2020', dayfirst = True)
data

Timestamp('2020-01-03 00:00:00')

In [37]:
fim = pd.to_datetime('10/01/2020', dayfirst = True) 
fim

Timestamp('2020-01-10 00:00:00')

In [38]:
lista_datas = pd.date_range(start = data,
                           end = fim)
lista_datas

DatetimeIndex(['2020-01-03', '2020-01-04', '2020-01-05', '2020-01-06',
               '2020-01-07', '2020-01-08', '2020-01-09', '2020-01-10'],
              dtype='datetime64[ns]', freq='D')

In [39]:
lista_datas = pd.date_range(start = data, periods = 8)
lista_datas

DatetimeIndex(['2020-01-03', '2020-01-04', '2020-01-05', '2020-01-06',
               '2020-01-07', '2020-01-08', '2020-01-09', '2020-01-10'],
              dtype='datetime64[ns]', freq='D')

In [40]:
lista_datas = pd.date_range(start = data, periods = 8, freq = 'M')
lista_datas

DatetimeIndex(['2020-01-31', '2020-02-29', '2020-03-31', '2020-04-30',
               '2020-05-31', '2020-06-30', '2020-07-31', '2020-08-31'],
              dtype='datetime64[ns]', freq='M')

In [42]:
data1 = lista_datas[1]
data1

Timestamp('2020-02-29 00:00:00', freq='M')

In [48]:
data1.strftime('%m-%Y')

'02-2020'

In [49]:
lista_datas[1]

Timestamp('2020-02-29 00:00:00', freq='M')

In [50]:
lista_datas[3]

Timestamp('2020-04-30 00:00:00', freq='M')

In [51]:
lista_datas[3] - lista_datas[1]

Timedelta('61 days 00:00:00')

In [52]:
lista_datas[3].to_period('M') - lista_datas[1].to_period('M')

In [56]:
pd.to_datetime('today').normalize()

Timestamp('2023-08-22 00:00:00')

In [66]:
df_presidents = pd.read_csv('../bases/us_presidents.csv')
df_presidents.head(2)

,Unnamed: 0,S.No.,start,end,president,prior,party,vice
0,0,1,"April 30, 1789","March 4, 1797",George Washington,Commander-in-Chief of the Continental Army ...,Nonpartisan [13],John Adams
1,1,2,"March 4, 1797","March 4, 1801",John Adams,1st Vice President of the United States,Federalist,Thomas Jefferson

In [58]:
datap = df_presidents['start']
datap = pd.DatetimeIndex(datap)
datap

DatetimeIndex(['1789-04-30', '1797-03-04', '1801-03-04', '1809-03-04',
               '1817-03-04', '1825-03-04', '1829-03-04', '1837-03-04',
               '1841-03-04', '1841-04-04', '1845-03-04', '1849-03-04',
               '1850-07-09', '1853-03-04', '1857-03-04', '1861-03-04',
               '1865-04-15', '1869-03-04', '1877-03-04', '1881-03-04',
               '1881-09-19', '1885-03-04', '1889-03-04', '1893-03-04',
               '1897-03-04', '1901-09-14', '1909-03-04', '1913-03-04',
               '1921-03-04', '1923-08-02', '1929-03-04', '1933-03-04',
               '1945-04-12', '1953-01-20', '1961-01-20', '1963-11-22',
               '1969-01-20', '1974-08-09', '1977-01-20', '1981-01-20',
               '1989-01-20', '1993-01-20', '2001-01-20', '2009-01-20',
               '2017-01-20'],
              dtype='datetime64[ns]', name='start', freq=None)

In [61]:
presidents['president'].values

array(['George Washington', 'John Adams', 'Thomas Jefferson',
       'James Madison', 'James Monroe', 'John Quincy Adams',
       'Andrew Jackson', 'Martin Van Buren', 'William Henry Harrison',
       'John Tyler', 'James K. Polk', 'Zachary Taylor',
       'Millard Fillmore', 'Franklin Pierce', 'James Buchanan',
       'Abraham Lincoln', 'Andrew Johnson', 'Ulysses S. Grant',
       'Rutherford B. Hayes', 'James A. Garfield', 'Chester A. Arthur',
       'Grover Cleveland', 'Benjamin Harrison', 'Grover Cleveland',
       'William McKinley', 'Theodore Roosevelt', 'William Howard Taft',
       'Woodrow Wilson', 'Warren G. Harding', 'Calvin Coolidge',
       'Herbert Hoover', 'Franklin D. Roosevelt', 'Harry S. Truman',
       'Dwight D. Eisenhower', 'John F. Kennedy', 'Lyndon B. Johnson',
       'Richard Nixon', 'Gerald Ford', 'Jimmy Carter', 'Ronald Reagan',
       'George H. W. Bush', 'Bill Clinton', 'George W. Bush',
       'Barack Obama', 'Donald Trump'], dtype=object)

In [62]:
serie = pd.Series(presidents['president'].values, 
                  index = pd.DatetimeIndex(datap))
serie

start
1789-04-30         George Washington
1797-03-04                John Adams
1801-03-04          Thomas Jefferson
1809-03-04             James Madison
1817-03-04              James Monroe
1825-03-04         John Quincy Adams
1829-03-04            Andrew Jackson
1837-03-04          Martin Van Buren
1841-03-04    William Henry Harrison
1841-04-04                John Tyler
1845-03-04             James K. Polk
1849-03-04            Zachary Taylor
1850-07-09          Millard Fillmore
1853-03-04           Franklin Pierce
1857-03-04            James Buchanan
1861-03-04           Abraham Lincoln
1865-04-15            Andrew Johnson
1869-03-04          Ulysses S. Grant
1877-03-04       Rutherford B. Hayes
1881-03-04         James A. Garfield
1881-09-19         Chester A. Arthur
1885-03-04          Grover Cleveland
1889-03-04         Benjamin Harrison
1893-03-04          Grover Cleveland
1897-03-04          William McKinley
1901-09-14        Theodore Roosevelt
1909-03-04       William Howard Taft
1913-03-04            Woodrow Wilson
1921-03-04         Warren G. Harding
1923-08-02           Calvin Coolidge
1929-03-04            Herbert Hoover
1933-03-04     Franklin D. Roosevelt
1945-04-12           Harry S. Truman
1953-01-20      Dwight D. Eisenhower
1961-01-20           John F. Kennedy
1963-11-22         Lyndon B. Johnson
1969-01-20             Richard Nixon
1974-08-09               Gerald Ford
1977-01-20              Jimmy Carter
1981-01-20             Ronald Reagan
1989-01-20         George H. W. Bush
1993-01-20              Bill Clinton
2001-01-20            George W. Bush
2009-01-20              Barack Obama
2017-01-20              Donald Trump
dtype: object

# Exercicio
Utilize a Serie acima para obter uma lista dos presidentes que governaram de 1850 a 1901 inclusive.

In [73]:
presidentes = serie[(serie.index<='1901-01-01')&
                    (serie.index>='1850-01-01')]
presidentes

start
1850-07-09       Millard Fillmore
1853-03-04        Franklin Pierce
1857-03-04         James Buchanan
1861-03-04        Abraham Lincoln
1865-04-15         Andrew Johnson
1869-03-04       Ulysses S. Grant
1877-03-04    Rutherford B. Hayes
1881-03-04      James A. Garfield
1881-09-19      Chester A. Arthur
1885-03-04       Grover Cleveland
1889-03-04      Benjamin Harrison
1893-03-04       Grover Cleveland
1897-03-04       William McKinley
dtype: object