In [1]:
import numpy as np
import pandas as pd

# Criando a base

In [2]:
aux_dict = {"Barbarian":[80, 90, 70, 95, 65], 
             "Prey":     [60, 65, 56, 65, 60], 
             "Mandy" :   [80, 57, 80, 78, 68],
             "Upgrade" : [78, 83, 67, 75, 55],
             "Premiado": ["Yes","Yes","No","No","No"]}
  
df = pd.DataFrame(aux_dict)
df

   Barbarian  Prey  Mandy  Upgrade Premiado
0         80    60     80       78      Yes
1         90    65     57       83      Yes
2         70    56     80       67       No
3         95    65     78       75       No
4         65    60     68       55       No

# Map

In [3]:
df["Premiado_dummy"] = df["Premiado"].map({"Yes": 1,
                                           "No":  0})
 
df

   Barbarian  Prey  Mandy  Upgrade Premiado  Premiado_dummy
0         80    60     80       78      Yes               1
1         90    65     57       83      Yes               1
2         70    56     80       67       No               0
3         95    65     78       75       No               0
4         65    60     68       55       No               0

In [9]:
z = [2,5,6,4,2,2,3,5,4]
func2 = lambda x: x * 2

mapped_numbers = map(func2, z)
list(mapped_numbers)

[4, 10, 12, 8, 4, 4, 6, 10, 8]

In [10]:
type(mapped_numbers)

map

In [11]:
func2 = lambda x: x * 2

mapped_numbers = map(func2, df["Upgrade"])
df["Upgrade2"] = list(mapped_numbers)
df

   Barbarian  Prey  Mandy  Upgrade Premiado  Premiado_dummy  Upgrade2
0         80    60     80       78      Yes               1       156
1         90    65     57       83      Yes               1       166
2         70    56     80       67       No               0       134
3         95    65     78       75       No               0       150
4         65    60     68       55       No               0       110

In [12]:
df.columns

Index(['Barbarian', 'Prey', 'Mandy', 'Upgrade', 'Premiado', 'Premiado_dummy',
       'Upgrade2'],
      dtype='object')

In [13]:
len(df.columns)

7

In [14]:
len("Premiado")

8

In [15]:
def len_names(x):
    return len(x)

x = map(len_names, df.columns)
list(x)

[9, 4, 5, 7, 8, 14, 8]

# Apply

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.apply.html

In [16]:
df.mean()

C:\Users\gusta\AppData\Local\Temp\ipykernel_21724\3698961737.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.mean()

Barbarian          80.0
Prey               61.2
Mandy              72.6
Upgrade            71.6
Premiado_dummy      0.4
Upgrade2          143.2
dtype: float64

In [18]:
aux_dict = {"Barbarian":[80, 90, 70, 95, 65], 
             "Prey":     [60, 65, 56, 65, 60], 
             "Mandy" :   [80, 57, 80, 78, 68],
             "Upgrade" : [78, 83, 67, 75, 55]}
  
df = pd.DataFrame(aux_dict)
df

   Barbarian  Prey  Mandy  Upgrade
0         80    60     80       78
1         90    65     57       83
2         70    56     80       67
3         95    65     78       75
4         65    60     68       55

In [19]:
df.apply(np.sqrt)

   Barbarian      Prey     Mandy   Upgrade
0   8.944272  7.745967  8.944272  8.831761
1   9.486833  8.062258  7.549834  9.110434
2   8.366600  7.483315  8.944272  8.185353
3   9.746794  8.062258  8.831761  8.660254
4   8.062258  7.745967  8.246211  7.416198

In [20]:
df.apply(np.sin)

   Barbarian      Prey     Mandy   Upgrade
0  -0.993889 -0.304811 -0.993889  0.513978
1   0.893997  0.826829  0.436165  0.968364
2   0.773891 -0.521551 -0.993889 -0.855520
3   0.683262  0.826829  0.513978 -0.387782
4   0.826829 -0.304811 -0.897928 -0.999755

In [21]:
#coeficiente de variação
cv = lambda x: np.std(x) / np.mean(x) * 100
df.apply(cv)

Barbarian    14.252193
Prey          5.603408
Mandy        12.369115
Upgrade      13.672892
dtype: float64

In [22]:
def cv2(x):
    cv = np.std(x) / np.mean(x) * 100
    return(cv)

df.apply(cv2)

Barbarian    14.252193
Prey          5.603408
Mandy        12.369115
Upgrade      13.672892
dtype: float64

# Apply linhas e colunas

In [23]:
df.apply(np.sum, axis = 1)

0    298
1    295
2    273
3    313
4    248
dtype: int64

In [24]:
df.apply(np.sum, axis = 0)

Barbarian    400
Prey         306
Mandy        363
Upgrade      358
dtype: int64

# Apply com argumentos

In [25]:
def soma(x, z, k):
    return x + z + k

df = pd.DataFrame({'A': [1, 2, 3], 'B': [10, 20, 30]})

df1 = df.apply(soma, z = 1, k = 100)
print(df1)

     A    B
0  102  111
1  103  121
2  104  131

# Sort

In [26]:
aux_dict = {"Barbarian":[80, 90, 70, 95, 65], 
             "Prey":     [60, 65, 56, 65, 60], 
             "Mandy" :   [80, 57, 80, 78, 68],
             "Upgrade" : [78, 83, 67, 75, 55]}
  
df = pd.DataFrame(aux_dict)
df

   Barbarian  Prey  Mandy  Upgrade
0         80    60     80       78
1         90    65     57       83
2         70    56     80       67
3         95    65     78       75
4         65    60     68       55

In [27]:
df.sort_values("Barbarian")

   Barbarian  Prey  Mandy  Upgrade
4         65    60     68       55
2         70    56     80       67
0         80    60     80       78
1         90    65     57       83
3         95    65     78       75

In [28]:
df.sort_values("Barbarian",  ascending = False)

   Barbarian  Prey  Mandy  Upgrade
3         95    65     78       75
1         90    65     57       83
0         80    60     80       78
2         70    56     80       67
4         65    60     68       55