In [ ]:
#%pip install Sqlalchemy
#%pip install sqlite3
#%pip install cx_Oracle
#%pip install Pyodbc

#conda install Sqlalchemy
#conda install sqlite
#conda install cx_Oracle
#conda install Pyodbc

# sqlite3

In [1]:
import sqlite3
import pandas as pd

sql = "SELECT name FROM sqlite_master WHERE type='table'"

con = sqlite3.connect("../bases/Nba_salary.sqlite")
df = pd.read_sql_query(sql,con)
print(df)

con.close()

                    name
0  NBA_season1718_salary
1          Seasons_Stats

In [3]:
import sqlite3
import pandas as pd

con = sqlite3.connect("../bases/Nba_salary.sqlite")
df = pd.read_sql_query("SELECT * FROM NBA_season1718_salary",con)
df.head()

    X1          Player   Tm  season17_18
0  1.0   Stephen Curry  GSW   34682550.0
1  2.0    LeBron James  CLE   33285709.0
2  3.0    Paul Millsap  DEN   31269231.0
3  4.0  Gordon Hayward  BOS   29727900.0
4  5.0   Blake Griffin  DET   29512900.0

In [4]:
df.shape

(573, 4)

In [5]:
df.groupby("Tm")["Player"].count()

Tm
ATL    27
BOS    17
BRK    18
CHI    24
CHO    14
CLE    14
DAL    22
DEN    16
DET    20
GSW    16
HOU    22
IND    19
LAC    20
LAL    22
MEM    20
MIA    18
MIL    22
MIN    16
NOP    21
NYK    21
OKC    15
ORL    17
PHI    20
PHO    21
POR    19
SAC    20
SAS    17
TOR    17
UTA    20
WAS    18
Name: Player, dtype: int64

# JSON

In [6]:
import json

In [7]:
file_json = open("../bases/Exemplo_1.json")
dados = json.load(file_json)
dados

{'Duration': {'0': 60, '1': 60, '2': 60, '3': 45, '4': 45, '5': 60},
 'Pulse': {'0': 110, '1': 117, '2': 103, '3': 109, '4': 117, '5': 102},
 'Maxpulse': {'0': 130, '1': 145, '2': 135, '3': 175, '4': 148, '5': 127},
 'Calories': {'0': 409, '1': 479, '2': 340, '3': 282, '4': 406, '5': 300}}

In [8]:
x = """{
"Name": "Jennifer Smith",
"Contact Number": 7867567898,
"Email": "jen123@gmail.com",
"Hobbies":["Reading","Sketching","Horse Riding"]
}"""

In [9]:
y = json.loads(x)
y

{'Name': 'Jennifer Smith',
 'Contact Number': 7867567898,
 'Email': 'jen123@gmail.com',
 'Hobbies': ['Reading', 'Sketching', 'Horse Riding']}

In [10]:
pd.read_json("../bases/Exemplo_1.json", orient = "column")

   Duration  Pulse  Maxpulse  Calories
0        60    110       130       409
1        60    117       145       479
2        60    103       135       340
3        45    109       175       282
4        45    117       148       406
5        60    102       127       300

In [11]:
pd.read_json("../bases/Exemplo_1.json", orient = "index")

            0    1    2    3    4    5
Duration   60   60   60   45   45   60
Pulse     110  117  103  109  117  102
Maxpulse  130  145  135  175  148  127
Calories  409  479  340  282  406  300

# Requests.get

In [14]:
import requests
import json
import pandas as pd

In [15]:
url = "https://raw.githubusercontent.com/bttmly/nba/master/data/teams.json"

In [16]:
resposta = requests.get(url)
resposta

In [17]:
resposta.text

'[\n  {\n    "teamId": 1610612737,\n    "abbreviation": "ATL",\n    "teamName": "Atlanta Hawks",\n    "simpleName": "Hawks",\n    "location": "Atlanta"\n  },\n  {\n    "teamId": 1610612738,\n    "abbreviation": "BOS",\n    "teamName": "Boston Celtics",\n    "simpleName": "Celtics",\n    "location": "Boston"\n  },\n  {\n    "teamId": 1610612751,\n    "abbreviation": "BKN",\n    "teamName": "Brooklyn Nets",\n    "simpleName": "Nets",\n    "location": "Brooklyn"\n  },\n  {\n    "teamId": 1610612766,\n    "abbreviation": "CHA",\n    "teamName": "Charlotte Hornets",\n    "simpleName": "Hornets",\n    "location": "Charlotte"\n  },\n  {\n    "teamId": 1610612741,\n    "abbreviation": "CHI",\n    "teamName": "Chicago Bulls",\n    "simpleName": "Bulls",\n    "location": "Chicago"\n  },\n  {\n    "teamId": 1610612739,\n    "abbreviation": "CLE",\n    "teamName": "Cleveland Cavaliers",\n    "simpleName": "Cavaliers",\n    "location": "Cleveland"\n  },\n  {\n    "teamId": 1610612742,\n    "abbreviation": "DAL",\n    "teamName": "Dallas Mavericks",\n    "simpleName": "Mavericks",\n    "location": "Dallas"\n  },\n  {\n    "teamId": 1610612743,\n    "abbreviation": "DEN",\n    "teamName": "Denver Nuggets",\n    "simpleName": "Nuggets",\n    "location": "Denver"\n  },\n  {\n    "teamId": 1610612765,\n    "abbreviation": "DET",\n    "teamName": "Detroit Pistons",\n    "simpleName": "Pistons",\n    "location": "Detroit"\n  },\n  {\n    "teamId": 1610612744,\n    "abbreviation": "GSW",\n    "teamName": "Golden State Warriors",\n    "simpleName": "Warriors",\n    "location": "Golden State"\n  },\n  {\n    "teamId": 1610612745,\n    "abbreviation": "HOU",\n    "teamName": "Houston Rockets",\n    "simpleName": "Rockets",\n    "location": "Houston"\n  },\n  {\n    "teamId": 1610612754,\n    "abbreviation": "IND",\n    "teamName": "Indiana Pacers",\n    "simpleName": "Pacers",\n    "location": "Indiana"\n  },\n  {\n    "teamId": 1610612746,\n    "abbreviation": "LAC",\n    "teamName": "Los Angeles Clippers",\n    "simpleName": "Clippers",\n    "location": "Los Angeles"\n  },\n  {\n    "teamId": 1610612747,\n    "abbreviation": "LAL",\n    "teamName": "Los Angeles Lakers",\n    "simpleName": "Lakers",\n    "location": "Los Angeles"\n  },\n  {\n    "teamId": 1610612763,\n    "abbreviation": "MEM",\n    "teamName": "Memphis Grizzlies",\n    "simpleName": "Grizzlies",\n    "location": "Memphis"\n  },\n  {\n    "teamId": 1610612748,\n    "abbreviation": "MIA",\n    "teamName": "Miami Heat",\n    "simpleName": "Heat",\n    "location": "Miami"\n  },\n  {\n    "teamId": 1610612749,\n    "abbreviation": "MIL",\n    "teamName": "Milwaukee Bucks",\n    "simpleName": "Bucks",\n    "location": "Milwaukee"\n  },\n  {\n    "teamId": 1610612750,\n    "abbreviation": "MIN",\n    "teamName": "Minnesota Timberwolves",\n    "simpleName": "Timberwolves",\n    "location": "Minnesota"\n  },\n  {\n    "teamId": 1610612740,\n    "abbreviation": "NOP",\n    "teamName": "New Orleans Pelicans",\n    "simpleName": "Pelicans",\n    "location": "New Orleans"\n  },\n  {\n    "teamId": 1610612752,\n    "abbreviation": "NYK",\n    "teamName": "New York Knicks",\n    "simpleName": "Knicks",\n    "location": "New York"\n  },\n  {\n    "teamId": 1610612760,\n    "abbreviation": "OKC",\n    "teamName": "Oklahoma City Thunder",\n    "simpleName": "Thunder",\n    "location": "Oklahoma City"\n  },\n  {\n    "teamId": 1610612753,\n    "abbreviation": "ORL",\n    "teamName": "Orlando Magic",\n    "simpleName": "Magic",\n    "location": "Orlando"\n  },\n  {\n    "teamId": 1610612755,\n    "abbreviation": "PHI",\n    "teamName": "Philadelphia 76ers",\n    "simpleName": "76ers",\n    "location": "Philadelphia"\n  },\n  {\n    "teamId": 1610612756,\n    "abbreviation": "PHX",\n    "teamName": "Phoenix Suns",\n    "simpleName": "Suns",\n    "location": "Phoenix"\n  },\n  {\n    "teamId": 1610612757,\n    "abbreviation": "POR",\n    "teamName": "Portland Trail Blazers",\n    "simpleName": "Trail Blazers",\n    "location": "Portland"\n  },\n  {\n    "teamId": 1610612758,\n    "abbreviation": "SAC",\n    "teamName": "Sacramento Kings",\n    "simpleName": "Kings",\n    "location": "Sacramento"\n  },\n  {\n    "teamId": 1610612759,\n    "abbreviation": "SAS",\n    "teamName": "San Antonio Spurs",\n    "simpleName": "Spurs",\n    "location": "San Antonio"\n  },\n  {\n    "teamId": 1610612761,\n    "abbreviation": "TOR",\n    "teamName": "Toronto Raptors",\n    "simpleName": "Raptors",\n    "location": "Toronto"\n  },\n  {\n    "teamId": 1610612762,\n    "abbreviation": "UTA",\n    "teamName": "Utah Jazz",\n    "simpleName": "Jazz",\n    "location": "Utah"\n  },\n  {\n    "teamId": 1610612764,\n    "abbreviation": "WAS",\n    "teamName": "Washington Wizards",\n    "simpleName": "Wizards",\n    "location": "Washington"\n  }\n]'

In [18]:
texto = resposta.text
json.loads(texto)

[{'teamId': 1610612737,
  'abbreviation': 'ATL',
  'teamName': 'Atlanta Hawks',
  'simpleName': 'Hawks',
  'location': 'Atlanta'},
 {'teamId': 1610612738,
  'abbreviation': 'BOS',
  'teamName': 'Boston Celtics',
  'simpleName': 'Celtics',
  'location': 'Boston'},
 {'teamId': 1610612751,
  'abbreviation': 'BKN',
  'teamName': 'Brooklyn Nets',
  'simpleName': 'Nets',
  'location': 'Brooklyn'},
 {'teamId': 1610612766,
  'abbreviation': 'CHA',
  'teamName': 'Charlotte Hornets',
  'simpleName': 'Hornets',
  'location': 'Charlotte'},
 {'teamId': 1610612741,
  'abbreviation': 'CHI',
  'teamName': 'Chicago Bulls',
  'simpleName': 'Bulls',
  'location': 'Chicago'},
 {'teamId': 1610612739,
  'abbreviation': 'CLE',
  'teamName': 'Cleveland Cavaliers',
  'simpleName': 'Cavaliers',
  'location': 'Cleveland'},
 {'teamId': 1610612742,
  'abbreviation': 'DAL',
  'teamName': 'Dallas Mavericks',
  'simpleName': 'Mavericks',
  'location': 'Dallas'},
 {'teamId': 1610612743,
  'abbreviation': 'DEN',
  'teamName': 'Denver Nuggets',
  'simpleName': 'Nuggets',
  'location': 'Denver'},
 {'teamId': 1610612765,
  'abbreviation': 'DET',
  'teamName': 'Detroit Pistons',
  'simpleName': 'Pistons',
  'location': 'Detroit'},
 {'teamId': 1610612744,
  'abbreviation': 'GSW',
  'teamName': 'Golden State Warriors',
  'simpleName': 'Warriors',
  'location': 'Golden State'},
 {'teamId': 1610612745,
  'abbreviation': 'HOU',
  'teamName': 'Houston Rockets',
  'simpleName': 'Rockets',
  'location': 'Houston'},
 {'teamId': 1610612754,
  'abbreviation': 'IND',
  'teamName': 'Indiana Pacers',
  'simpleName': 'Pacers',
  'location': 'Indiana'},
 {'teamId': 1610612746,
  'abbreviation': 'LAC',
  'teamName': 'Los Angeles Clippers',
  'simpleName': 'Clippers',
  'location': 'Los Angeles'},
 {'teamId': 1610612747,
  'abbreviation': 'LAL',
  'teamName': 'Los Angeles Lakers',
  'simpleName': 'Lakers',
  'location': 'Los Angeles'},
 {'teamId': 1610612763,
  'abbreviation': 'MEM',
  'teamName': 'Memphis Grizzlies',
  'simpleName': 'Grizzlies',
  'location': 'Memphis'},
 {'teamId': 1610612748,
  'abbreviation': 'MIA',
  'teamName': 'Miami Heat',
  'simpleName': 'Heat',
  'location': 'Miami'},
 {'teamId': 1610612749,
  'abbreviation': 'MIL',
  'teamName': 'Milwaukee Bucks',
  'simpleName': 'Bucks',
  'location': 'Milwaukee'},
 {'teamId': 1610612750,
  'abbreviation': 'MIN',
  'teamName': 'Minnesota Timberwolves',
  'simpleName': 'Timberwolves',
  'location': 'Minnesota'},
 {'teamId': 1610612740,
  'abbreviation': 'NOP',
  'teamName': 'New Orleans Pelicans',
  'simpleName': 'Pelicans',
  'location': 'New Orleans'},
 {'teamId': 1610612752,
  'abbreviation': 'NYK',
  'teamName': 'New York Knicks',
  'simpleName': 'Knicks',
  'location': 'New York'},
 {'teamId': 1610612760,
  'abbreviation': 'OKC',
  'teamName': 'Oklahoma City Thunder',
  'simpleName': 'Thunder',
  'location': 'Oklahoma City'},
 {'teamId': 1610612753,
  'abbreviation': 'ORL',
  'teamName': 'Orlando Magic',
  'simpleName': 'Magic',
  'location': 'Orlando'},
 {'teamId': 1610612755,
  'abbreviation': 'PHI',
  'teamName': 'Philadelphia 76ers',
  'simpleName': '76ers',
  'location': 'Philadelphia'},
 {'teamId': 1610612756,
  'abbreviation': 'PHX',
  'teamName': 'Phoenix Suns',
  'simpleName': 'Suns',
  'location': 'Phoenix'},
 {'teamId': 1610612757,
  'abbreviation': 'POR',
  'teamName': 'Portland Trail Blazers',
  'simpleName': 'Trail Blazers',
  'location': 'Portland'},
 {'teamId': 1610612758,
  'abbreviation': 'SAC',
  'teamName': 'Sacramento Kings',
  'simpleName': 'Kings',
  'location': 'Sacramento'},
 {'teamId': 1610612759,
  'abbreviation': 'SAS',
  'teamName': 'San Antonio Spurs',
  'simpleName': 'Spurs',
  'location': 'San Antonio'},
 {'teamId': 1610612761,
  'abbreviation': 'TOR',
  'teamName': 'Toronto Raptors',
  'simpleName': 'Raptors',
  'location': 'Toronto'},
 {'teamId': 1610612762,
  'abbreviation': 'UTA',
  'teamName': 'Utah Jazz',
  'simpleName': 'Jazz',
  'location': 'Utah'},
 {'teamId': 1610612764,
  'abbreviation': 'WAS',
  'teamName': 'Washington Wizards',
  'simpleName': 'Wizards',
  'location': 'Washington'}]

In [19]:
jsondata = json.loads(texto)
df = pd.DataFrame.from_dict(jsondata)
df.head()

       teamId abbreviation           teamName simpleName   location
0  1610612737          ATL      Atlanta Hawks      Hawks    Atlanta
1  1610612738          BOS     Boston Celtics    Celtics     Boston
2  1610612751          BKN      Brooklyn Nets       Nets   Brooklyn
3  1610612766          CHA  Charlotte Hornets    Hornets  Charlotte
4  1610612741          CHI      Chicago Bulls      Bulls    Chicago