In [20]:
import pandas as pd

# Decimals

In [23]:
df  = pd.read_csv("/content/decimals.txt",
                sep=";", 
                decimal=",", 
                thousands=".", 
                index_col=False)
df

,ANO,ID_SEG,COD_UF,RENDA,MES,SB_CONS,SB_ESCO,SB_TRAT,SB_U,SB_G,POP,V10,V11,V12,URG
0,2012,4,10,19712,4,28,164,3,16,0,5274,0.530906,3.109594,0.107143,0.303375
1,2012,4,10,2547,5,13,0,6,23,0,5274,0.246492,0.000000,0.461538,0.436102
2,2012,4,10,54598,6,8,135,7,12,0,5274,0.151688,2.559727,0.875000,0.227531
3,2012,4,10,20712,7,0,0,0,0,0,5274,0.000000,0.000000,NaN,0.000000

In [24]:
df.dtypes

ANO          int64
ID_SEG       int64
COD_UF       int64
RENDA        int64
MES          int64
SB_CONS      int64
SB_ESCO      int64
SB_TRAT      int64
SB_U         int64
SB_G         int64
POP          int64
V10        float64
V11        float64
V12        float64
URG        float64
dtype: object

In [21]:
df  = pd.read_csv("/content/decimals.txt",
                sep=";", 
                index_col=False)
df

,ANO,ID_SEG,COD_UF,RENDA,MES,SB_CONS,SB_ESCO,SB_TRAT,SB_U,SB_G,POP,V10,V11,V12,URG
0,2012,4,10,1.9712,4,28,164,3,16,0,5274,"0,530906333","3,109594236","0,107142857","0,303375047"
1,2012,4,10,2.5470,5,13,0,6,23,0,5274,"0,246492226",0,"0,461538462","0,436101631"
2,2012,4,10,5.4598,6,8,135,7,12,0,5274,"0,151687524","2,559726962","0,875","0,227531286"
3,2012,4,10,20.7120,7,0,0,0,0,0,5274,0,0,NaN,0

In [22]:
df.dtypes

ANO          int64
ID_SEG       int64
COD_UF       int64
RENDA      float64
MES          int64
SB_CONS      int64
SB_ESCO      int64
SB_TRAT      int64
SB_U         int64
SB_G         int64
POP          int64
V10         object
V11         object
V12         object
URG         object
dtype: object

# Encoding

https://docs.python.org/3/library/codecs.html#standard-encodings

In [ ]:
# encoding = "latin1",
# encoding = "iso-8859-1"
# encoding = "utf-8"

In [28]:
df  = pd.read_csv("/content/encoding.txt",
                sep=";", encoding = "utf-8")
df

       v1     v2   v3
0     não   $215  *%$
1     têm   %458   @)
2    ação   &525   }|
3  ficção   ?567   <>
4   nível  !4584   ?}
5      àÀ   +454   ,.
6      ウリ    オ・ザ   ーン