In [20]:
#Import
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.metrics import accuracy_score

df = pd.read_csv("../bases/Titanic.csv", sep = ",")
df

     Survived  Pclass  Sex   Age  SibSp  Parch
0           0       3    0  22.0      1      0
1           1       1    1  38.0      1      0
2           1       3    1  26.0      0      0
3           1       1    1  35.0      1      0
4           0       3    0  35.0      0      0
..        ...     ...  ...   ...    ...    ...
709         0       3    1  39.0      0      5
710         0       2    0  27.0      0      0
711         1       1    1  19.0      0      0
712         1       1    0  26.0      0      0
713         0       3    0  32.0      0      0

[714 rows x 6 columns]

In [2]:
#Separar em X e y
X = df.drop("Survived", axis=1) 
y = df.Survived

In [3]:
X

     Pclass  Sex   Age  SibSp  Parch
0         3    0  22.0      1      0
1         1    1  38.0      1      0
2         3    1  26.0      0      0
3         1    1  35.0      1      0
4         3    0  35.0      0      0
..      ...  ...   ...    ...    ...
709       3    1  39.0      0      5
710       2    0  27.0      0      0
711       1    1  19.0      0      0
712       1    0  26.0      0      0
713       3    0  32.0      0      0

[714 rows x 5 columns]

In [4]:
y

0      0
1      1
2      1
3      1
4      0
      ..
709    0
710    0
711    1
712    1
713    0
Name: Survived, Length: 714, dtype: int64

In [5]:
#Train e Test
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=42)

In [6]:
X_train.shape

(499, 5)

In [7]:
X_test.shape

(215, 5)

1. Treine um modelo AdaBoostClassifier com n_estimators=50 , learning_rate=1. Além disso, as métricas de Treino e Teste associadas devem ser calculadas.

In [8]:
from sklearn.ensemble import AdaBoostClassifier
from sklearn import metrics

In [9]:
ada = AdaBoostClassifier(n_estimators=50,learning_rate=1)
model = ada.fit(X_train, y_train)

In [10]:
y_train_pred = model.predict(X_train) 
y_test_pred = model.predict(X_test)

In [11]:
#Calculo acurácia no Train
train_accuracy = accuracy_score(y_train, y_train_pred)

#Calculo acurácia no  Test
test_accuracy = accuracy_score(y_test, y_test_pred)

print('% de acertos sobre treino:', train_accuracy)
print('% de acertos sobre test:',test_accuracy)#0.7627906976744186

% de acertos sobre treino: 0.8376753507014028
% de acertos sobre test: 0.7534883720930232

2. Treine um modelo XGBClassifier com objetivo='binário:logístico', n_estimators=10, seed=123. Além disso, as métricas de Treino e Teste associadas devem ser calculadas.

In [12]:
#conda install xgboost
import xgboost as xgb

In [13]:
###Completar

In [14]:
###Completar

In [15]:
###Completar

3. Treine um modelo de LGBMClassifier() . Além disso, as métricas de Treino e Teste associadas devem ser calculadas.

In [16]:
#conda install lightgbm
import lightgbm as lgb

In [17]:
###Completar

In [18]:
###Completar

4. Treine um modelo GradientBoostingClassifier com random_state = 0. Além disso, as métricas Treino e Test associadas devem ser calculadas.

In [19]:
from sklearn.ensemble import GradientBoostingClassifier

In [ ]:
###Completar

In [ ]:
###Completar